In [ ]:
import pandas as pd

In [1]:
2+3

5

mehmet celik aselsan

In [2]:
#this is a comment
print("Welcome python")

Welcome python

In [3]:
userName='Cihad'
print(userName)

Cihad

In [4]:
print("userName: ",userName)

userName:  Cihad

In [5]:
print("userName:%s"%userName)

userName:Cihad

In [8]:
user='Mike'
lines=50
print('Congratulations '+user+'! you have written '+ str(lines) + ' lines of code' )

Congratulations Mike! you have written 50 lines of code

In [9]:
sea_creatures=['shark','cuttlefish','squid','mantis shrimp','anemone']
print(sea_creatures)

['shark', 'cuttlefish', 'squid', 'mantis shrimp', 'anemone']

In [10]:
sea_creatures[1]='octopus'
sea_creatures[-3]='blobfish'
print(sea_creatures)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone']

In [11]:
oceans=['Pacific','Atlantic','Indian','Southern','Arctic']
print(sea_creatures+oceans)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic']

In [12]:
sea_creatures=sea_creatures+'yeti crab'
print(sea_creatures)

TypeError: can only concatenate list (not "str") to list

In [13]:
sea_creatures=sea_creatures+['yeti crab']
print(sea_creatures)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']

In [14]:
print(sea_creatures*2)
print(oceans*3)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']
['Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic', 'Pacific', 'Atlantic', 'Indian', 'Southern', 'Arctic']

In [15]:
for x in range(1,4):
    sea_creatures+=['cat']
    print(sea_creatures)

['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'cat']
['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'cat', 'cat']
['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab', 'cat', 'cat', 'cat']

In [16]:
sharks=['shark']
for x in range(1,4):
    sharks*=2
    print(sharks)

['shark', 'shark']
['shark', 'shark', 'shark', 'shark']
['shark', 'shark', 'shark', 'shark', 'shark', 'shark', 'shark', 'shark']

In [17]:
sea_creatures=['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone']
print(sea_creatures[1,4])

TypeError: list indices must be integers or slices, not tuple

In [18]:
sea_creatures=['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone']
print(sea_creatures[1:4])

['octopus', 'blobfish', 'mantis shrimp']

In [19]:
print([0,2,3]+[1,5])

[0, 2, 3, 1, 5]

In [20]:
print(sea_creatures[:3])

['shark', 'octopus', 'blobfish']

In [21]:
print(sea_creatures[2:])

['blobfish', 'mantis shrimp', 'anemone']

In [22]:
print(sea_creatures[-4:-2])
print(sea_creatures[-3:])

['octopus', 'blobfish']
['blobfish', 'mantis shrimp', 'anemone']

In [23]:
numbers=[0,1,2,3,4,5,6,7,8,9,10,11,12]
print(numbers[1:11:2])

[1, 3, 5, 7, 9]

In [24]:
print(numbers[::3])

[0, 3, 6, 9, 12]

In [1]:
sea_creatures+=['yeti crab']
print(sea_creatures)

NameError: name 'sea_creatures' is not defined

In [2]:
sea_creatures=['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone','yeti crab']
del sea_creatures[1]
print(sea_creatures)

['shark', 'blobfish', 'mantis shrimp', 'anemone', 'yeti crab']

In [3]:
sea_creatures=['shark', 'octopus', 'blobfish', 'mantis shrimp', 'anemone','yeti crab']
del sea_creatures[1:4]
print(sea_creatures)

['shark', 'anemone', 'yeti crab']

In [4]:
print(1:4)

SyntaxError: invalid syntax (<ipython-input-4-44956158657b>, line 1)

In [5]:
a=1:4
print(a)

SyntaxError: invalid syntax (<ipython-input-5-26bd4a13ccc5>, line 1)

In [6]:
a=[1:4]
print(a)

SyntaxError: invalid syntax (<ipython-input-6-a223ba0944fc>, line 1)

In [7]:
a=[0,2,3,1,6,5]
b=[2,3,5]
print(a[b])

TypeError: list indices must be integers or slices, not list

In [8]:
#a tulpe
animals=('dog','cat','horse','pig')
print(animals)

('dog', 'cat', 'horse', 'pig')

In [9]:
#a dictionary
Mike={'username':'Mike', 'online':True, 'followers':54000}
print(Mike)

{'username': 'Mike', 'online': True, 'followers': 54000}

In [10]:
print(Mike['username'])

Mike

In [11]:
print(Mike['online'])

True

In [12]:
print(Mike['followers'])

54000

In [13]:
usernames={'Mike':'Mike45','Raf':'redraf'}
usernames['Max']='maxamillian'
print(usernames)

{'Mike': 'Mike45', 'Raf': 'redraf', 'Max': 'maxamillian'}

In [14]:
usernames['Cayce']='cayce32'
print(usernames)

{'Mike': 'Mike45', 'Raf': 'redraf', 'Max': 'maxamillian', 'Cayce': 'cayce32'}

In [15]:
Mike={'username':'Mike', 'online':True, 'followers':54000}
print(Mike)
print(Mike.keys())

{'username': 'Mike', 'online': True, 'followers': 54000}
dict_keys(['username', 'online', 'followers'])

In [16]:
Mike.keys()

dict_keys(['username', 'online', 'followers'])

In [17]:
print(Mike.values())

dict_values(['Mike', True, 54000])

In [18]:
print(Mike.items())

dict_items([('username', 'Mike'), ('online', True), ('followers', 54000)])

In [19]:
grade=70
if(grade>65):
    print('Passing grade')

Passing grade

In [20]:
grade=60
if(grade>65):
    print('Passing grade')

In [21]:
grade=60
if(grade>65):
    print('Passing grade')
else:
    print('You failed')

You failed

In [22]:
balance=522
if(balance<0):
    print('Balance is below 0, add funds now')
else:
    print('Your balance is 0 or above')

Your balance is 0 or above

In [23]:
people=['mike','max','rafferty']
for peeps in people:
    print(peeps)

mike
max
rafferty

In [24]:
age={'Mike':40, 'Max':10, 'Rafferty':7}
for i in age:
    print(i)

Mike
Max
Rafferty

In [25]:
for i in age:
    print(i,age[i])

Mike 40
Max 10
Rafferty 7

In [26]:
for i in age:
    print('Name: %s, Age: %d'%(i,age[i]))

Name: Mike, Age: 40
Name: Max, Age: 10
Name: Rafferty, Age: 7

In [27]:
range(0,5)

range(0, 5)

In [28]:
print(range(0,5))

range(0, 5)

In [29]:
for i in range(20,25):
    print(i)

20
21
22
23
24

In [30]:
for i in range(0,15,3):
    print(i)

0
3
6
9
12

In [31]:
counter=10
while(counter!=0):
    print('counter:',counter)
    counter=counter-1

counter: 10
counter: 9
counter: 8
counter: 7
counter: 6
counter: 5
counter: 4
counter: 3
counter: 2
counter: 1

In [32]:
for i in range(10):
    print('i=',i)
    if(i==6):
        break

i= 0
i= 1
i= 2
i= 3
i= 4
i= 5
i= 6

In [34]:
for number in range(10):
    if(number==5):
        continue
    print('number=',number)
print('Out of loop')

number= 0
number= 1
number= 2
number= 3
number= 4
number= 6
number= 7
number= 8
number= 9
Out of loop

In [35]:
def f(x):
    return x**2+1

f(4)

17

In [36]:
def endIng(string):
    return string+'ing'

endIng('learn')

'learning'

In [37]:
def sameInitial(str1,str2):
    if(str1[0].lower()==str2[0].lower()):
        return True
    else:
        return False

sameInitial('Mike','Mehmet')

True

In [38]:
sameInitial('Mike','Suleyman')

False

In [39]:
a=0
if a==0:
    b=1
def myFunc(c):
    d=3
    print(c)
    print(d)
    
myFunc(7)
print(a)
print(b)
print(c)
print(d)

7
3
0
1

NameError: name 'c' is not defined

In [41]:
def greet(name,msg='Good morning!'):
    print('Hello '+name+', '+msg)

greet('Mike')
greet('Fred','how do you do?')

Hello Mike, Good morning!
Hello Fred, how do you do?

In [42]:
def addNums(*num):
    summ=0
    for i in num:
        summ=summ+i
    return summ

addNums(1,2,3,4,5)

15

In [43]:
def addNums(num):
    summ=0
    for i in num:
        summ=summ+i
    return summ

addNums([1,2,3,4,5])

15

In [44]:
import random

In [45]:
random.randrange(1,10)

5

In [46]:
from random import randrange,randint
randrange(1,10)

4

In [47]:
f=open('mehmet hoca.txt','r')

In [48]:
firstline=f.readline()
print(firstline)

mehmet celik mehmet celik orospu cocugu mehmet celik

In [49]:
secondline=f.readline()
print(secondline)

mehmet celik mehmet celik haysiyetsiz sahtekar mehmet celik

In [50]:
f.close()

In [51]:
f=open('mehmet hoca.txt','r')
for lines in f:
    print(lines,end='')
f.close()

mehmet celik mehmet celik orospu cocugu mehmet celik
mehmet celik mehmet celik haysiyetsiz sahtekar mehmet celik
mehmet celik mehmet celik pic kurusu mehmet celik
mehmet celik mehmet celik suratına sicayım senin mehmet celik

In [52]:
f=open('mehmet hoca.txt','a')
f.write('\nThis will be appended to our file')
f.close()

In [53]:
inputfile=open('mehmet hoca.txt','r')
outputfile=open('mehmet hoca out.txt','w')

msg=inputfile.read(10)

while len(msg):
    outputfile.write(msg)
    msg=inputfile.read(10)

inputfile.close()
outputfile.close()

In [54]:
f=open('months.txt')
print(f.read())

January
February
March
April
May
June
July
August
September
October
November
December

In [55]:
print('I want two lines!\nThe newline character gives me two lines.')

I want two lines!
The newline character gives me two lines.

In [56]:
f = open("months.txt")
for month in f.readlines():
   print("Month " + month.strip())

Month January
Month February
Month March
Month April
Month May
Month June
Month July
Month August
Month September
Month October
Month November
Month December

In [58]:
f = open("months.txt", "a")
f.write("\nAwesome message!")
f.close()

In [59]:
class NewClass:
    '''This is a docstring. I have created a new class'''
    pass

In [60]:
class MySecondClass:
    "This is my second class"
    a = 10
    def func(self):
        print('Hello')